<!-- start content-outer ... START -->
<div id="content-outer">
  <!-- start content -->
  <div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
      <h1>你好，<?php echo $user['real'];?></h1>
    </div>
    <!-- end page-heading -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
      <tr>
        <th rowspan="3" class="sized"></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized"></th>
      </tr>
      <tr>
        <td id="tbl-border-left"></td>
        <td>
          <!--  start content-table-inner ... START -->
          <div id="content-table-inner">
            <!--  start table-content  -->
            <div id="table-content">
              <h3>账户权限身份： <span class="spanh3"><?php echo $user['role'];?></span></h3>
              <h3>账户创建时间： <span class="spanh3"><?php echo $user['addtm'];?></span></h3>
              <h3>上次登录时间： <span class="spanh3"><?php echo $user['lasttm'];?></span></h3>
              <h3>上次登录ＩＰ： <span class="spanh3"><?php echo $user['lastip'];?></span></h3>
            </div>
            <!--  end table-content  -->
            <div class="clear"></div>
          </div>
          <!--  end content-table-inner ... END  -->
        </td>
        <td id="tbl-border-right"></td>
      </tr>
      <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
      </tr>
    </table>
    <div class="clear">&nbsp;</div>
  </div>
  <!--  end content -->
  <div class="clear">&nbsp;</div>
</div>
<!--  end content-outer ... END -->
<div class="clear">&nbsp;</div>