    <!--  start nav -->
    <div class="nav">
      <div class="table">
        <?php foreach($nav as $navper): ?>
        <ul <?php if ($navper['item'] == $item): ?>class="current"<?php else: ?>class="select"<?php endif; ?>>
          <li>
            <a href="javascript:void(0);"><b><?php echo $navper['name'];?></b>
            <!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub<?php if ($navper['item'] == $item): ?> show<?php endif; ?>">
              <ul class="sub">
                <?php foreach($navper['sub'] as $sub): ?>
                <li<?php if ($sub['act'] == $act): ?> class="sub_show"<?php endif; ?>>
                  <a href="/manage/<?php echo $navper['item'];?>/<?php echo $sub['act'];?>">
                    <?php echo $sub['name'];?>
                  </a>
                </li>
                <?php endforeach; ?>
              </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
          </li>
        </ul>
        <div class="nav-divider">&nbsp;</div>
        <?php endforeach; ?>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!--  start nav ... END -->