<!-- start content-outer ... START -->
<div id="content-outer">
  <!-- start content -->
  <div id="content">
    <!--  start page-heading -->
    <div id="page-heading">
      <h1><?=$history['status'];?></h1>
    </div>
    <!-- end page-heading -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
      <tr>
        <th rowspan="3" class="sized"></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized"></th>
      </tr>
      <tr>
        <td id="tbl-border-left"></td>
        <td>
          <!--  start content-table-inner ... START -->
          <div id="content-table-inner">
            <!--  start table-content  -->
            <div id="table-content">
              <h3>课程名称：　<span class="spanh3"><?=$history['classname'];?></span></h3>
              <h3>开课时间：　<span class="spanh3"><?=$history['opentime'];?></span></h3>
              <h3>课程类型：　<span class="spanh3"><?=$history['type'];?></span></h3>
              <h3>授课对象：　<span class="spanh3"><?=$history['object'];?></span></h3>
              <h3>课程大纲：　<div class="spanh3"><?=$history['classcontent'];?></div></h3>
              <h3>讲师名称：　<span class="spanh3"><?=$history['trainername'];?></span></h3>
              <h3>讲师简介：　<span class="spanh3"><?=$history['trainercontent'];?></span></h3>
              <h3>是否推荐：　<span class="spanh3"><?=$history['recommend'];?></span></h3>
              <span class="spanh3"><a href="javascript:history.go(-1);">返回上一页</a></span> 
              <span class="spanh3" style="margin-left: 35px;"><a href="/manage/history/edit/<?=$history['id']?>">编辑该页面</a></span>
            </div>
            <!--  end table-content  -->
            <div class="clear"></div>
          </div>
          <!--  end content-table-inner ... END  -->
        </td>
        <td id="tbl-border-right"></td>
      </tr>
      <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
      </tr>
    </table>
    <div class="clear">&nbsp;</div>
  </div>
  <!--  end content -->
  <div class="clear">&nbsp;</div>
</div>
<!--  end content-outer ... END -->
<div class="clear">&nbsp;</div>