html{
    overflow-y:scroll;
}
body,ul,ol,p,dl,dd,form,textarea,h2,h3,h4{
    margin:0;
}
ul,ol,input,button,td,th{
    padding:0;
}
ul,ol{
    list-style-type:none;
    list-style-position:outside;
}
a{
    text-decoration:none;
}
img{
	vertical-align:bottom
}
a img{
    border:none;
}
.pr{
	position:absolute;
	right:0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
    table-layout:fixed;
}
em{
    font-style:normal
}
.clear{
    clear:both;
}
.clearfix,.media{
    zoom:1
}
.clearfix:after, .media:after{
    content:'';
    display:block;
    clear:both;
    height:0;
    font-size:0;
    line-height:0;
    overflow:hidden;
    visibility:hidden;
}
body{
    font:12px/1.5 Tahoma,simsun,'宋体',Helvetica,simsun,sans-serif;
    color:#222;
    background:#fff;
}
.wrapper,.header_wrap{
    width:980px;
    margin:0 auto;
}
.header{
    background:url(../img/nav_bg.png) repeat-x 0 110px
}
.hotkey{
	width:964px;
	padding-left:16px;
	margin:-4px auto 0;
	z-index:7;
    background:url(../img/nav_hotkey.png) no-repeat 0 0
}
.hotkey div.bg{
	display:block;
	height:32px;
	line-height:28px;
	padding-top:4px;
	background:url(../img/nav_hotkey.png) no-repeat right -36px
}
.hotkey div.bg a{
	color:#f5f5f5;
}
.header_wrap{
    position:relative;
	z-index:7;
    zoom:1
}
.titlebar{
	line-height:30px;
	background:#ededed;
	color:#666;
}
.titlebar .header_wrap{
	text-align:right;
}
.titlebar a{
	color:#333;
}
.logo{
    float:left;
    width:168px;
    height:56px;
    margin:0;
    padding:12px 0;
}
.logo a{
    display:block;
    height:100%;
    text-indent:-999em;
    overflow:hidden;
    background:#eee;
}
.nav{
    height:44px;
    background:url(../img/nav_bg.png) repeat-x 0 bottom
}
.nav a,.nav a span{
    display:inline-block;
    height:31px;
    line-height:31px;
    cursor:pointer;
}
.nav a{
    padding-left:15px;
    font-size:14px;
    font-family:"微软雅黑","黑体","宋体";
    color:#fff;
    margin-top:6px;
    font-weight:bold
}
.nav a span{
    padding-right:15px;
}
.nav a.current,.nav a.current span,.nav a:hover,.nav a:hover span{
    background-image:url(../img/nav_cur_over.png);
    background-repeat:no-repeat;
}
.nav a.current,.nav a:hover{
    background-position:0 0;
    color:#c31a1a;
}
.nav a.current span,.nav a:hover span{
    background-position:right 0
}
.search{
    position:absolute;
    right:0;
    top:42px;
	z-index:8;
	padding:2px 4px;
	background:#f3f3f3;
}
.search .search_type{
    display:inline-block;
    width:56px;
    height:26px;
    background:#fff;
    line-height:27px;
    padding-left:0.5em;
    border:1px solid #ccc;
    padding-right:24px;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    color:#888
}
.search .typelist{
    position:absolute;
    top:29px;
    left:4px;
    background:#fff;
    border-style:none solid solid;
    border-width:1px;
    border-color:#ccc;
    width:86px;
    display:none;
	z-index:9
}
.search .typelist li{
    height:21px;
    line-height:21px;
    padding-left:0.5em;
    padding-right:1em;
    cursor:pointer;
    color:#333;
}
.search .typelist li a:hover{
    background:#65769a;
    color:#fff
}
.search input,.search .search_type{
    vertical-align:middle
}
.search .txt{
    height:26px;
    width:180px;
    line-height:26px;
    border:1px solid #ccc;
    border-left:none;
    background:#fff
    border-radius:0;
    color:#333;
    font-size:14px;
}
.search .btn{
    height:32px;
    border:none;
	/* background:url(../img/nav_cur_over.png) no-repeat right 1px;*/
    background:#f3f3f3;
    width:48px;
}


.footer{
    border-top:3px solid #C62B2B;
    padding-top:8px;
}
.footer p{
    text-align:center;
    line-height:23px;
}
.footer p a{
    color:#333;
    margin:0 3px;
}
.emptytips{
    text-align:center;
}
.row{
    margin-bottom:8px;
    border-bottom:1px solid #ccc
}
.row .rt{
    border-bottom:3px solid #FB4242
}
.row .rt h2 span, .row .rt h2 span a{
    font-size:18px;
    color:#C31A1A
}
.cl,.cm,.cr{
    float:left
}
.col2 .cl{
    width:660px;
}
.col2 .cr{
    width:320px
}
.col3 .cl{
    width:300px
}
.col3 .cm{
    width:360px
}
.col3 .cr{
    width:320px
}

.arrow{
    display:inline-block;
    width:0;
    height:0;
    font-size:0;
    line-height:0;
    border-style:solid;
    vertical-align:middle;
    overflow:hidden;
}
#search_type .arrow{
    border-width:6px;
    border-color:#999 #fff #fff;
    position:absolute;
    right:4px;
    top:11px;
    cursor:pointer;
}


.box .bt{
    background:#ddd;
	position:relative;
}
.box .bt span.pr{
	top:0;
	padding-right:8px;
	line-height:22px;
}
.box .bt span.pr a{
	color:#333;
}
.box .bt span.pr a:hover{
	color:#666;
}
.box .bt h3{
    border-left:4px solid #888;
    border-right:1px solid #bbb;
    font-size:14px;
    color:#444;
    height:23px;
    line-height:23px;
    padding-left:5px;
    font-family:"微软雅黑","黑体","宋体"
}
.box .bt h3 a{
	color:#444;
}
ul.list li{
    height:23px;
    line-height:23px;
    overflow:hidden;
    padding-left:12px;
    background:url(../img/icon.png) no-repeat left 9px;
    position:relative;
    zoom:1
}

ul.list a{
    color:#333;
}
ul.list a:hover{
    color:#c31a1a
}
ul.list span.time{
    position:absolute;
    right:8px;
    top:0;
    color:#888
}
.box{
    margin:8px 8px 0 0
}
ul.traintype li{
    float:left;
    margin:4px 6px;
    display:inline;
    border-style:solid;
    border-width:1px;
    border-color:#eee #bbb #999 #eee;
}
ul.traintype li a{
    display:block;
    color:#333;
    font-size:12px;
    background:#eee;
    padding:2px 3px;
    border-style:solid;
    border-width:1px;
    border-color:#bbb #fff #eee #bbb;
	white-space:nowrap;
}
ul.traintype li a:hover{
    background:#fb4242;
    color:#fff;
    border-right-color:#ccc
}




/* new modified start*/
.media{
	padding-top:8px
}
.media h3.mt{
	font-size:14px;
	margin-bottom:3px;
}
.media .pic{
	float:left;
	margin-right:10px;
	display:inline;
}
.media .pic img{
	border:1px solid #bbb;
}
.media a{
	color:#65769a;
}
.media p.summary{
	line-height:21px;
	text-indent:2em;
}
#slide_btn{
	position:absolute;
	bottom:8px;
	right:5px;
	height:10px;
	overflow:hidden;
}
#slide_btn i{
	display:inline-block;
	width:10px;
	height:10px;
	overflow:hidden;
	background-color:#9c9c9c;
	cursor:pointer;
	vertical-align:top;
}
#slide_btn i.current{
	background-color:#f60000;
}
.slide{
	height:253px;
	position:relative;
	overflow:hidden;
	zoom:1;
}
.slide_txt{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:27px;
	line-height:27px;
	color:#fff;
	overflow:hidden;
	background:rgba(0,0,0,0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#b3000000', endColorstr='#b3000000');
}
.slide_txt p{
	padding-left:12px;
	padding-right:12%;
}
/* new modified end*/

.step_content{
	display:none;
	padding-top:20px;
}
.mypage{
	line-height:30px;
	text-align:right;
}
.mypage a{
	color:#333;
}
.mypage a:hover{
	text-decoration:underline;
}
.ciarea{
	padding:12px 0;
	line-height:32px;
}
.classinfo{
	width:100%;
	margin:0 auto;
	border:1px solid #f30;
}
.classinfo thead th{
	line-height:32px;
}
.classinfo tbody td{
	width:24%;
	text-align:center
}
.classinfo thead th,.classinfo tbody td{
	border-bottom:1px solid #f30;
}
.classinfo tfoot td{
	padding:4px 8px;
	line-height:20px;
	vertical-align:top;
}
.classinfo span{
	color:#f00
}
.tags{
	padding-left:18px;
	border-bottom: 1px solid #3c3c3c;
}
.tags a{
	position:relative;
	margin-bottom:-1px;
	border:1px solid #3c3c3c;
	border-bottom:1px solid #3c3c3c;
	display:inline-block;
	padding:2px 6px 0;
	color:#000;
}
.tags a:hover,.tags a.cerrent{
	color:#f30;
	border-bottom:1px solid #fff;
}
ul.openlist{
	list-style:none;
}
ul.openlist li{
	height:30px;
	line-height:30px;
	background-image:none;
}
ul.openlist li.bg{
	background:#efefef;

}
ul.typelist{
	padding:12px 0;
}
ul.typelist li{
	width:33%;
	line-height:48px;
	float:left;
	text-align:center;
}
ul.typelist li a{
	color:#333;
	display:inline-block;
	width:120px;
	margin:0 auto;
	line-height:32px;
	border:1px solid #ccc;
}
ul.typelist li a:hover{
	background:#efefef;
}