<!-- start content-outer ... START -->
<div id="content-outer">
	<!-- start content -->
	<div id="content">
		<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
			<tr>
				<th rowspan="3" class="sized">
					<!--
					<img src="/www/manage/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" />
					-->
				</th>
				<th class="topleft"></th>
				<td id="tbl-border-top">&nbsp;</td>
				<th class="topright"></th>
				<th rowspan="3" class="sized">
					<!--
					<img src="/www/manage/images/shared/side_shadowright.jpg" width="20" height="300" alt="" />
					-->
				</th>
			</tr>
			<tr>
				<td id="tbl-border-left"></td>
				<td>
					<!--  start content-table-inner ... START -->
					<div id="content-table-inner">
						<!--  start table-content  -->
						<div id="table-content">
							<!--  start product-table ... START -->
							<form id="mainform" action="">
							<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
								<thead>
									<th class="table-header-check"><a id="toggle-all" ></a></th>
									<th class="table-header-repeat line-left minwidth-1"><a href="">客户企业名</a></th>
									<th class="table-header-repeat line-left"><a href="">省份</a></th>
									<th class="table-header-repeat line-left"><a href="">联系人</a></th>
									<th class="table-header-repeat line-left"><a href="">性别</a></th>
									<th class="table-header-repeat line-left"><a href="">职务</a></th>
									<th class="table-header-repeat line-left"><a href="">关系类型</a></th>
									<th class="table-header-options line-left"><a href="">操作</a></th>
								</thead>
								<?php foreach($trainer_course as $t): ?>
								<tr>
									<td><input type="checkbox"/></td>
									<td><?=$t['clientname']?></td>
									<td><?=$t['province']?></td>
									<td><?=$t['linkname']?></td>
									<td><?=$t['gender']?></td>
									<td><?=$t['title']?></td>
									<td><?=$t['relationship']?></td>
									<td class="options-width">
										<a href="/manage/user/edit/<?=$t['id']?>" title="编辑" class="icon-1 info-tooltip"></a>
										<a href="javascript:del('user', <?=$t['id']?>);" title="删除" class="icon-2 info-tooltip"></a>
										<a href="/manage/user/info/<?=$t['id']?>" title="查看" class="icon-5 info-tooltip"></a>
									</td>
								</tr>
								<?php endforeach; ?>
							</table>
							</form>
							<!--  end product-table ... END -->
						</div>
						<!--  end content-table  -->
						<!--  start actions-box -->
						<div id="actions-box">
							<a href="" class="action-slider"></a>
							<div id="actions-box-slider">
								<!-- <a href="" class="action-edit">Edit</a> -->
								<!-- <a href="" class="action-delete">Delete</a> -->
								<a href="" class="action-delete">Delete</a>
							</div>
							<div class="clear"></div>
						</div>
						<!-- end actions-box -->
						<!--  start paging -->
						<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
							<tr>
								<td>
									<a href="" class="page-far-left"></a>
									<a href="" class="page-left"></a>
									<div id="page-info">Page <strong>1</strong> / 15</div>
									<a href="" class="page-right"></a>
									<a href="" class="page-far-right"></a>
								</td>
								<td>
									<select  class="styledselect_pages">
										<option value="">Number of rows</option>
										<option value="">1</option>
										<option value="">2</option>
										<option value="">3</option>
									</select>
								</td>
							</tr>
						</table>
						<!--  end paging -->
						<div class="clear"></div>
					</div>
					<!--  end content-table-inner ... END  -->
				</td>
				<td id="tbl-border-right"></td>
			</tr>
			<tr>
				<th class="sized bottomleft"></th>
				<td id="tbl-border-bottom">&nbsp;</td>
				<th class="sized bottomright"></th>
			</tr>
		</table>
		<div class="clear">&nbsp;</div>
	</div>
	<!--  end content -->
	<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer ... END -->